
<header>
    <Div class="haderName">
        <h2>Diego Arevalo C.</h2>
    </Div>
    <nav>
        <ul>
            <li>home</li>
            <li>sobre mi</li>
            <li>contancto</li>
        </ul>
    </nav>

</header>
<body>

    <section>

<div class="cuerpo">

    <div class="botton">
        <button mat-raised-button >Open file</button>
    </div>
    <div>
        <img src="../../assets/image/pin-de-ubicacion.png" alt="">
        <h2>Almeria, España</h2>
    </div>
    
</div>

    </section>
    
</body>